
<form [formGroup]="form" (ngSubmit)="onSubmit()">               
                <div class="form-group">
               
                    <label for="zipcode">Zip Code </label>
                    <input
                        type="text"
                        id="zipcode"
                        placeholder="Input ZIP code"
                        formControlName="zipcode"
                    >
                  
                </div>
                 <label for="city">City Time Zone: {{City}}</label><br/>
                 <label for="city">Tempirature: {{Tempirature}}</label>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">Get Data</button>
                </div>
               
</form>